<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/glyphicons.css">
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>


    <!--
    <link rel="stylesheet" href="codemirror/lib/codemirror.css">
    <script src="codemirror/lib/codemirror.js"></script>
    <script src="codemirror/addon/edit/matchbrackets.js"></script>
    <script src="codemirror/python/python.js"></script>
    <style type="text/css">.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
    -->
</head>
<body class="bg-light">

<div id="app" >
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-default" v-on:click="logout()">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </form>
        </div>
    </nav>

    <div class="modal fade" role="dialog" id="companyInfoModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{{selectedCompany.NAME}}</h1>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" v-model="showArchiveBrands"
                                   id="showArchivedModal">
                            <label class="form-check-label" for="showArchivedModal">Показать архивные</label>
                        </div>
                        <hr>
                        <ul class="list-group" style="margin: 0px; padding-left: 0px">
                            <div v-for="brand in companyBrands">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-8 mr-0 ml-0 pr-0 pl-0">
                                            <span class="align-middle">{{ brand.NAME }}</span>

                                        </div>
                                        <div class="col-lg-2 mr-0 ml-0 pr-0 pl-0">
                                            <button type="button" class="btn btn-primary" v-on:click="brandInfo(brand)">
                                                Редактировать
                                            </button>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-danger"
                                                    v-on:click="deleteBrand(brand)">Удалить
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </ul>

                        <div class="row">
                            <div class="col-lg-4 ml-0 mr-0 pl-0 pr-0 pr-1">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Новый брэнд"
                                           v-model="newBrandName">
                                </div>
                            </div>
                            <div class="col-lg-4 ml-0 mr-0 pl-0 pr-0">
                                <button type="button" class="btn btn-primary" data-toggle="confirmation"
                                        v-on:click="addBrand('')">Добавить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="brandInfoModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{{selectedBrand.NAME}}</h1>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <ul class="list-group" style="margin: 0px; padding-left: 0px">
                            <div v-for="template in brandTemplates">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-8 mr-0 ml-0 pr-0 pl-0">
                                            <span class="align-middle">{{ template.NAME }}</span>

                                        </div>
                                        <div class="col-lg-2 mr-0 ml-0 pr-0 pl-0">
                                            <button type="button" class="btn btn-primary"
                                                    v-on:click="templateInfo(template)">Редактировать
                                            </button>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-danger"
                                                    v-on:click="deleteTemplate(template)">Удалить
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </ul>

                        <div class="row">
                            <div class="col-lg-4 ml-0 mr-0 pl-0 pr-0 pr-1">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Новый шаблон"
                                           v-model="newTemplateName">
                                </div>
                            </div>
                            <div class="col-lg-4 ml-0 mr-0 pl-0 pr-0">
                                <button type="button" class="btn btn-primary" v-on:click="addTemplate()">Добавить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="templateInfoModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{selectedTemplate.NAME}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8 pr-1 mr-0">
                                <div class="input-group mb-3">
                                    <textarea class="form-control" placeholder="Введите код шаблона"
                                              id="templateCodeElement"
                                              rows="20" style="overflow-y: scroll;" v-model="template_code"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4 pl-0 ml-0">
                                <ul class="list-group list-group-flush"
                                    style="overflow-y: scroll; " id="fileListElement">
                                    <li class="list-group-item" v-for="file in templateFiles">
                                        <div data-toggle="tooltip" data-placement="bottom" v-bind:title="file">
                                            {{cutFileName(file)}}
                                            <span class="close glyphicon glyphicon-remove" data-toggle="confirmation"
                                                  v-on:click="deleteFile(file)"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                <!--------------------------->
                                <ul class="list-goup" style="padding-left: 0px">

                                    <li v-for="file in updloadingFiles" class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg-10">{{ file.name }}</div>
                                        </div>
                                    </li>
                                </ul>
                                <label class="btn btn-secondary btn-files mb-0">
                                    <div class="col-lg-11">Browse</div>
                                    <div class="col-lg-1">
                                        <input type="file" style="display: none;" @change="onFileChange" multiple>
                                    </div>
                                </label>
                                <button type="button" class="btn btn-danger" v-on:click="upload()">Загрузить!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="saveTemplate()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>

    <div id="ruleModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header h-25" style="background-color: lightgrey !important;">
                    <h5 class="modal-title">{{ruleTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <ul class="list-group" style="padding-left: 0px">

                        <li v-for="user in ruleUsers" class="list-group-item list-group-item-primary rounded-0"
                            v-bind:class="{'list-group-item-light': user.ROLE=='OWNER',
                                           'list-group-item-danger': user.ROLE=='ADMIN'}"

                            data-toggle="tooltip" data-placement="bottom" v-bind:title="user.ROLE"
                        >
                           {{user.NAME}} ({{ user.EMAIL }}) <span v-if="user.ROLE != 'OWNER'" class="close glyphicon glyphicon-remove"
                                                  v-on:click="deleteBrandRole(user.RULE_ID)"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmationModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header h-25" style="background-color: lightgrey !important;">
                    <h5 class="modal-title">{{confirmation.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <p>{{confirmation.text}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" v-on:click="confirmationResult(true)">Yes
                            </button>
                            <button type="button" class="btn btn-primary" v-on:click="confirmationResult(false)">No
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <br>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link bg-light active" data-toggle="tab" href="#companyPanel" role="tab">Организации</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-light" data-toggle="tab" href="#brandPanel" role="tab">Брэнды</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-light" data-toggle="tab" href="#templatePanel" role="tab">Шаблоны</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="companyPanel" role="tabpanel">
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group m-0" style="padding-left: 0px;">
                            <li v-for="company in companies" class="list-group-item"
                                v-on:click="companyInfo(company)" :key="company.ID">
                                <div>{{ company.NAME }}</div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="brandPanel" role="tabpanel">
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                Доступы
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <select class="custom-select" v-model="brandToEdit">

                                        <option v-for="brand in brands" class="dropdown-item" v-bind:value=brand>{{
                                            brand.NAME
                                            }}
                                        </option>
                                    </select>
                                </div>
                                <div class="row mb-1">
                                    <button type="button" class="btn btn-primary w-100" v-on:click="brandRoles()">Роли
                                    </button>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-primary w-100" v-on:click="sendInvitation()">
                                        Пригласить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <ul class="list-group m-0" style="padding-left: 0px;">
                            <li v-for="brand in brands" class="list-group-item rounded-0" v-on:click="brandInfo(brand)"
                                :key="brand.ID">
                                <div>{{ brand.NAME }}</div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="templatePanel" role="tabpanel">
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group m-0" style="padding-left: 0px;">
                            <li v-for="template in templates" class="list-group-item"
                                v-on:click="brandInfo(template.ID)" :key="template.ID">
                                <div>{{ template.NAME }}</div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .nav-tabs .nav-link:not(.active){
        border-color: #dee2e6!important;
    }
    .nav-tabs .nav-link.active{
        border-top-color: #dee2e6!important;
        border-right-color: #dee2e6!important;
        border-left-color: #dee2e6!important;
        border-bottom-color: transparent;!important;
    }


</style>

<script src="js/template.js" type="application/javascript"></script>
<script src="js/brand.js" type="application/javascript"></script>
<script src="js/rule.js" type="application/javascript"></script>
<script src="vue/admin.js"></script>


<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
-->


</body>
</html>