<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!--
    <link rel="stylesheet" href="codemirror/lib/codemirror.css">
    <script src="codemirror/lib/codemirror.js"></script>
    <script src="codemirror/addon/edit/matchbrackets.js"></script>
    <script src="codemirror/python/python.js"></script>
    <style type="text/css">.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
    -->
</head>
<body>
<script>

</script>

<div id="app">
    <br>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{selectedTemplate}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="inputTemplateCode">
                    <div class="input-group mb-3" >
                        <textarea class="form-control" placeholder="Введите код шаблона" rows="25"
                                  style="overflow-y: scroll;" v-model="template_code"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="saveTemplate()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 mr-0 pr-1">
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Ширина" v-model="template_width">
                </div>
            </div>
            <div class="col-lg-2 ml-0 mr-0 pl-0 pr-1">
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Высота" v-model="template_height">
                </div>
            </div>
            <div class="col-lg-2 ml-0 mr-0 pl-0 pr-0 pr-1">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Выбранный шаблон" id="template"
                           v-model="selectedTemplate">
                </div>
            </div>
            <div class="col-lg-2 ml-0 mr-0 pl-0 pr-0">
                <button type="button" class="btn btn-primary" v-on:click="downloadTemplate()">Выгрузить</button>
                <button type="button" class="btn btn-danger" v-on:click="editCode()">Редактировать</button>
            </div>
        </div>
        <h3>Шаблоны</h3>
        <hr>

        <div class="row">
            <div class="col-lg-12">
                <ul id="v-for-object" class="list-goup" style="margin: 0px; padding-left: 0px">
                    <li v-for="item in items" class="list-group-item" v-on:click="click(item.name)">
                        <div>{{ item.name }}</div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>


    String.prototype.replaceAll = function (target, replacement) {
        return this.split(target).join(replacement);
    };
    var main = this;
    var app = new Vue({
        el: '#app',
        data: {
            items: [], //[{id: 1, name: 'semak'}, {id: 2, name: 'ter'}],
            selectedTemplate: "",
            template_height: 500,
            template_width: 1000,
            template_code: ""
        },
        methods: {
            click: function (text) {
                console.log(text);
                this.selectedTemplate = text;
                //model.message = 'New value';
            },
            saveTemplate: function () {
                var code = this.template_code;
                console.log(code);
                $.ajax({
                    type: "POST",
                    url: "../../server/templatecode/" + this.selectedTemplate,
                    contentType: "text",
                    dataType: "text",
                    data: code
                }).done(function (dt) {
                    $('#myModal').modal('hide');
                });


            },
            editCode: function () {
                var main = this;
                console.log(this.selectedTemplate);
                $.ajax({
                    type: "GET",
                    url: "../../server/templatecode/" + this.selectedTemplate,
                    data: []
                }).done(function (dt) {
                    main.template_code = dt;
                    console.log(dt);
                    $('#myModal').modal('show');
                });


            }
            ,
            downloadTemplate: function () {
                var main = this;
                console.log(this.selectedTemplate);
                console.log(this.template_width);
                console.log(this.template_height);
                var request_data = {"width": this.template_width, "height": this.template_height};
                var http = new XMLHttpRequest();
                http.open('POST', "../../server/" + this.selectedTemplate, true);
                http.setRequestHeader("Content-type", "application/json; charset=utf-8");
                http.setRequestHeader("Content-length", request_data.length);
                http.setRequestHeader("Connection", "close");
                http.responseType = "blob";
                http.onload = function () {
                    if (this.status === 200) {
                        var filename = main.selectedTemplate + "_" + main.template_width + "x" + main.template_height + ".pdf";
                        var disposition = http.getResponseHeader('Content-Disposition');
                        if (disposition && disposition.indexOf('attachment') !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(disposition);
                            if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                        }
                        var type = http.getResponseHeader('Content-Type');
                        var blob = typeof File === 'function'
                                ? new File([this.response], filename, {type: type})
                                : new Blob([this.response], {type: type});
                        if (typeof window.navigator.msSaveBlob !== 'undefined') {
                            // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                            window.navigator.msSaveBlob(blob, filename);
                        } else {
                            var URL = window.URL || window.webkitURL;
                            var downloadUrl = URL.createObjectURL(blob);

                            if (filename) {
                                // use HTML5 a[download] attribute to specify filename
                                var a = document.createElement("a");
                                // safari doesn't support this yet
                                if (typeof a.download === 'undefined') {
                                    window.location = downloadUrl;
                                } else {
                                    a.href = downloadUrl;
                                    a.download = filename;
                                    document.body.appendChild(a);
                                    a.click();
                                }
                            } else {
                                window.location = downloadUrl;
                            }

                            setTimeout(function () {
                                URL.revokeObjectURL(downloadUrl);
                            }, 100); // cleanup
                        }
                    }
                };
                //http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');            
                http.onreadystatechange = function () {

                }
                http.send(JSON.stringify(request_data));

                /*
                 $.ajax({
                 type: "post",
                 url: ,
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 data: JSON.stringify(request_data)
                 });*/
            }

        },
        mounted: function () {
            var main = this;
            $.ajax({
                type: "GET",
                url: "../../server/templatelist/",
                data: []
            }).done(function (dt) {
                main.items = dt;
            });

        }
    })
</script>
<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
-->


</body>
</html>